<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>city_list_table_header_bg</key>
	<string>#ededed</string>
	<key>global_city_list_table_header_bg</key>
	<string>#e8e8e8</string>
	<key>city_list_table_cell_bg</key>
	<string>#f8f4f3</string>
	<key>online_view_bg</key>
	<string>#F4F4F4</string>
	<key>popup_dialog_bg</key>
	<string>#000000C0</string>
	<key>online_line_imageview</key>
	<string>#00132A</string>
	<key>account_setting_view_bg</key>
	<string>#e6e9ed</string>
	<key>color_white</key>
	<string>#FFFFFF</string>
	<key>color_red</key>
	<string>#FF3B3B</string>
	<key>color_red_2</key>
	<string>#EE3737</string>
	<key>color_blue</key>
	<string>#5B9FF6</string>
	<key>color_blue_2</key>
	<string>#0274F5</string>
	<key>color_blue_3</key>
	<string>#0D7AFF</string>
	<key>color_blue_4</key>
	<string>#157DFB</string>
	<key>color_gray</key>
	<string>#FAFAFA</string>
	<key>color_gray_2</key>
	<string>#DADADA</string>
	<key>color_gray_3</key>
	<string>#B5B4B4</string>
	<key>color_gray_4</key>
	<string>#EAEAEA</string>
	<key>color_gray_5</key>
	<string>#F8F4F3</string>
	<key>color_gray_6</key>
	<string>#F4F4F4</string>
	<key>color_gray_7</key>
	<string>#9D9D9D</string>
	<key>color_gray_8</key>
	<string>#E6E9ED</string>
	<key>color_gray_9</key>
	<string>#D5D5D5</string>
	<key>color_gray_10</key>
	<string>#737373</string>
	<key>color_gray_11</key>
	<string>#C1C1C1</string>
	<key>color_black</key>
	<string>#292929</string>
	<key>color_black_2</key>
	<string>#424242</string>
	<key>color_black_3</key>
	<string>#343434</string>
	<key>color_black_4</key>
	<string>#464646</string>
	<key>color_black_5</key>
	<string></string>
	<key>color_black_6</key>
	<string>#F7F7F7</string>
	<key>color_green</key>
	<string>#20B8B3</string>
	<key>color_green_2</key>
	<string>#13A308</string>
	<key>navigation_bar_title_offline</key>
	<string>#FF3B3B</string>
	<key>navigation_bar_title_online</key>
	<string>#5B9FF6</string>
	<key>bank_number</key>
	<string>#797979</string>
	<key>expried_ticket</key>
	<string>#CE310D</string>
	<key>up_black</key>
	<string>#171717</string>
	<key>up_dark_grey</key>
	<string>#464646</string>
	<key>up_grey</key>
	<string>#737373</string>
	<key>up_light_grey</key>
	<string>#9d9d9d</string>
	<key>up_red</key>
	<string>#ff3b3b</string>
	<key>up_dark_red</key>
	<string>#ce310d</string>
	<key>up_blue</key>
	<string>#157dfb</string>
	<key>up_blue_green</key>
	<string>#34b3af</string>
	<key>up_green</key>
	<string>#13a308</string>
	<key>accountInfo_scrollview_bg</key>
	<string>#343537</string>
</dict>
</plist>
